# Dependencies
node_modules/

# Environment
.env
.env.local

# Database (comentado para demo - incluir sqlite con datos)
# *.sqlite
# *.db

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/
flota_veracruz.sqlite
